[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
newspaper3k = "*"
loguru = "*"
python-dateutil = "*"
black = "*"
isort = "*"
pylint = "*"
html5lib = "*"
numpy = "*"
webdriver-manager = "*"
lxml = {extras = ["html_clean"], version = "*"}
fake-useragent = "*"
requests = "*"
beautifulsoup4 = "*"
pandas = "*"
selenium = "*"

[dev-packages]

[requires]
python_version = "3.11"
