[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
beautifulsoup4 = "*"
requests = "*"
pandas = "*"
newspaper3k = "*"
webdriver-manager = "*"
loguru = "*"
python-dateutil = "*"
black = "*"
isort = "*"
pylint = "*"
html5lib = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.11"
